<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tucker's Bookstore</title>
</head>
<body>
    <h1>Welcome to Tucker's Bookstore</h1>
    <p>Explore our wide selection of books!</p>
    <div>
        <h3>NT Wright's Simply Jesus</h3>
        <img src="{{ url_for('static', filename='SimplyJesus.jpg') }}" alt="Cover of Simply Jesus by NT Wright" width="300">
        <p>This book gives a very edifying argument for the resurrection of Jesus from an acclaimed Bible Scholar.</p>
    </div>
    <div>
        <h3>Bart Ehrman's Forged</h3>
        <img src="{{ url_for('static', filename='Forged.jpg') }}" alt="Cover of Forged by Bart Ehrman" width="300">
        <p>Gives an argument from the other side, more particularly on the authorship of the New Testament books.</p>
    </div>
    <div>
        <h3>Dale Allison's Resurrection of Jesus</h3>
        <img src="{{ url_for('static', filename='DaleAllison.jpg') }}" alt="Cover of Resurrection of Jesus by Dale Allison" width="300">
        <p>A scholarly book providing arguments for every side based on whether the resurrection of Jesus happened or not.</p>
    </div>
</body>
</html>




