<!-- templates/update_grade.html -->
{% extends "base.html" %}

{% block content %}
<h1>Update Grade</h1>
<form action="{{ url_for('grades.update_grade', grade_id=current_grade.grade_id) }}" method="POST">
    <label for="student_name">Student Name:</label>
    <input type="text" name="student_name" value="{{ current_grade.student_name }}" required><br>

    <label for="number_grade">Number Grade:</label>
    <input type="number" name="number_grade" value="{{ current_grade.number_grade }}" required><br>

    <button type="submit">Update Grade</button>
</form>
{% endblock %}
